#heading {
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    font-size: 10vw;
    font-weight: bolder;
    box-align: center;
}
body {
    background-color: rgb(184, 255, 231);
}
button, input {
    background-color: rgb(90, 166, 252);
}
